@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    --black: #444;
    --lightblack: #888;
    --grey: lightgrey;

    --white: white;
    --lightgrey: #F5F5F5;
    
    --red: #D87869;
    --green: #68CE72;
    --blue: #ADACE4;
    --gold: #E7E38C;
}

html, body {
    margin: 0px;
    padding: 0px;
    color: var(--black);
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 1.4rem;
    font-weight: 1000;
    background: var(--grey);
    padding: 20px;

    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'a a a'
                         'b c d'
                         'e e e';
}

.area {
    padding: 0px 20px;
}

    .action-row {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 20px 0px;
        max-width: 400px;
    }
        .action-row > span {
            margin-left: 10px;
        }

.title-area {
    grid-area: a;
    border: 3px var(--black) solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .money-area {
        background: var(--white);
        height: 40px;
        width: 500px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 20px;
        color: var(--green);
        border: 2px solid var(--green);
        font-size: 1.7rem;
    }

.job-area {
    grid-area: b;
    border-right: 3px var(--black) solid;
    border-bottom: 3px var(--black) solid;
    border-left: 3px var(--black) solid;
}

.investment-area {
    grid-area: c;
    border-right: 3px var(--black) solid;
    border-bottom: 3px var(--black) solid;
}

.loan-area {
    grid-area: d;
    border-right: 3px var(--black) solid;
    border-bottom: 3px var(--black) solid;
}

.real-estate-area {
    grid-area: e;
    border-right: 3px var(--black) solid;
    border-bottom: 3px var(--black) solid;
    border-left: 3px var(--black) solid;
    display: grid;
    grid-template-rows: auto repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}

    .real-estate-area .cell:first-child {
        grid-column: 1 / 4;
    }

    .real-estate-area .cell {
        padding: 0px 20px;
    }

    .real-estate-area .description img {
        align-self: flex-start;
        margin-top: 5px;
    }

.subtitle-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-btn {
    height: 60px;
    width: 160px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    user-select: none;
    margin-left: 10px;
}
    .action-btn .label {
        background: var(--black);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: background 0.1s;
    }

        .action-btn .label:hover {
            background: var(--lightblack);
        } 

    .action-btn .cost {
        background: var(--lightgrey);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--black);
    }

    .action-btn.red {
        color: var(--red);
    }

    .action-btn.green {
        color: var(--green);
    }

    .action-btn.blue {
        color: var(--blue);
    }

.click-btn {
    height: 60px;
    width: 160px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    font-weight: bold;
    user-select: none;
    margin-left: 10px;
}

    .click-btn .label {
        background: var(--black);
        color: var(--gold);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: background 0.1s;
    }

        .click-btn .label:hover {
            background: var(--lightblack);
        } 

    .click-btn .times {
        background: var(--lightgrey);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--black);
        border-top: 2px dashed var(--black);
        border-right: 2px dashed var(--black);
        border-bottom: 2px dashed var(--black);
    }

    .click-btn.gold {
        color: var(--gold);
    }

.description {
    display: flex;
    align-items: center;
}
    .description img {
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }
    .description .text {
        display: flex;
        align-items: center;
    }

.deactive {
    opacity: 0.5;   
}

.deactive .action-btn .label  {
    cursor: not-allowed;   
}

.deactive .click-btn .label  {
    cursor: not-allowed;   
}